@charset "UTF-8";

/* Outras medias queries */

@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        background-image: linear-gradient(to right, #1C0D54, #524e91);
    }

    section#login {
        width: 80vw;
    }

    section#login > div#imagem {
        float: left;
        width: 40%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 60%;
    }

    div#formulario > p {
        font-size: 0.9em;
    }
}

@media screen and (min-width: 992px) {

    body {
        background-image: linear-gradient(to right, #1C0D54, #524e91);
    }

    section#login {
        width: 950px;
    }

    section#login > div#imagem {
        float: left;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 50%;
    }

    div#formulario > p {
        font-size: 1em;
    }
}